<h3>All Company</h3>

<table>
    <tr>
        <th width="200">Company Code</th>
        <th width="200">Company Name</th>
        <th width="290">Company Address</th>
        <th width="200">Opening Balance</th>
        <th width="150">BST CODE</th>   
        
        

    </tr>
    
    <% _.each(Company, function(Company) { %>
    <tr data-id="<%= Company.mcode %>" data-model="Company">
    
        <td height="50"><%= Company.mcode %></td>
        <td><%= Company.mname %></td>
        <td><%= Company.maddress %></td>
        <td><%= Company.mopeningbalance %></td>
        <td><%= Company.mbstcode %></td>
        <td width="70"><a type="button" class="btn btn-info" data-dismiss="modal" href="/products/show/<%= Company.id %>">Show</a></td>
        <td width="70"><a type="button" class="btn btn-warning" data-dismiss="modal" href="/products/edit/<%= Company.pcode %>">Edit</a></td>
        <td width="70"><a type="button" class="btn btn-danger" data-dismiss="modal" href="/products/destroy/<%= Company.pcode%>">Delete</a></td>
       
        
        
    
    </tr>
    
    <% }) %>
    

</table>


